{% extends "base.html" %}
{% load sass_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% sass_src 'css/music.scss' %}">
{% endblock %}

{% block content %}
<!-- Div present to avoid flex from base.html template -->
<div>
    <div class="heading">
        <h1 class="heading-text">Music</h1>
    </div>
    <div class="secondary-nav">
        <ul>
            {% for genre in genres %}
            <Li>{{ genre.title }}</Li>
            {% endfor %}
        </ul>
    </div>
    <section>
        <div class="container">
            {% for genre in genres %}
            <div class="genre-container">
                <h1>{{ genre.title }}</h1>
                <p>{{ genre.summary }}</p>
                <div class="genre-image">
                    <img src="/media/{{ genre.image_one }}">
                    <img src="/media/{{genre.image_two }}">
                    <img src="/media/{{ genre.image_three }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}

{% block postloadjs %}ß
{% endblock %}