{% extends "base.html" %}
{% load sass_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% sass_src 'css/music.scss' %}">
{% endblock %}

{% block content %}
<div class="heading">
    <h1 class="heading-text">Music</h1>
</div>
<div class="secondary-nav">
    <ul>
        <Li>World</Li>
        <Li>Pop</Li>
        <Li>Contemporary</Li>
        <Li>Folk</Li>
        <Li>Theatre</Li>
        <Li>Dulcimer</Li>
    </ul>
</div>
<section>
    <div class="genre-content">
        {% for genre in genres %}
            <div class="genre-container">
                <h1>{{ genre.title }}</h1>
                <p>{{ genre.summary }}</p>
                <div class="genre-image">
                    <img src="/media/{{ genre.image_one }}">
                    <img src="/media/{{genre.image_two }}">
                    <img src="/media/{{ genre.image_three }}">
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    <!-- {{ block.super }}
    <script src="{% static 'materialize/js/bin/materialize.min.js' %}"></script>
    <script src="{% static 'js/booking.js' %}"></script> -->
{% endblock %}