{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% sass_src 'materialize/sass/materialize.scss' %}">
<link rel="stylesheet" href="{% sass_src 'css/booking.scss' %}">
{% endblock %}

{% block content %}
<div class="heading">
    <h1 class="heading-text">Make a Booking</h1>
</div>
<form class="booking-form" action="{% url 'booking' %}" method="post">
    {% crispy booking_form %}
</form>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'materialize/js/bin/materialize.min.js' %}"></script>
    <script src="{% static 'js/booking.js' %}"></script>
{% endblock %}