.allauth-container{
    max-width: 1000px;
    padding-bottom: 10vh;
}

.main-content{
    align-items: center;

    h1{
        text-align: center;
        padding-bottom: 50px;
    }
}

.controls {
    input{
        width: 400px;
        height: 30px;
    }
    label{
        color: azure;
    }
}

input.checkboxinput {
    width: auto;
    height: auto;
}

.forgot-password{
    position: relative;
    float: right;
    color: azure;
    font-size: 14px;
}

.login-CTAs {
    display: flex;
    justify-content: space-between;
}