@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
$main-bg: #202020;

body {
    background-color: $main-bg;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: url("/media/home-background.jpg") no-repeat center center fixed;
    background-size: cover;
}
.background-overlay{
width: 100vw;
height: 100vh;
background-color: #000000;
position: fixed;
z-index: -1;
opacity: 0.4;
}

/* -------------- TEXT RULES -------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: azure;
}

a {
    text-decoration: none;
}

/* -------------- BUTTON RULES -------------------*/
.primary-button{
    background-color: black;
    border-radius: 10px;
}

/* -------------- NAV RULES -------------------*/
#main-nav {
    background-color: #030e26;
    padding: 8px 15px 10px;
    display: flex;
}

.nav-logo {
    width: 160px;
}

#nav-items {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 160px);
}
.nav-item {
    text-align: center;
    padding: 0 20px;
    display: flex;
}
.nav-item > a {
    display: flex;
}

.nav-text {
    font-size: 15px;
    align-self: center;
}
