@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  background-color: #202020;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: url("/media/home-background.jpg") no-repeat center center fixed;
  background-size: cover; }

.background-overlay {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  position: fixed;
  z-index: -1;
  opacity: 0.4; }

/* -------------- TEXT RULES -------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: azure; }

a {
  text-decoration: none;
  cursor: pointer; }

p {
  font-size: 14px; }

/* -------------- BUTTON RULES -------------------*/
.primary-btn {
  background-color: black;
  border-radius: 10px;
  border: 2px solid black; }

/* -------------- NAV RULES -------------------*/
.nav-container {
  position: fixed;
  width: 100vw; }

#main-nav {
  background-color: #030e26;
  padding: 4px 15px 6px;
  display: flex; }

.nav-logo {
  width: 160px;
  display: flex; }
  .nav-logo a {
    align-self: center; }

#nav-items {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 160px); }

.nav-item {
  text-align: center;
  padding: 5px 10px;
  display: flex; }
  .nav-item a {
    display: flex;
    padding: 5px 10px;
    color: azure;
    font-size: 15px;
    margin: 2px; }
  .nav-item a:hover {
    background-color: #7b7b7b38;
    border-radius: 5px;
    border: 2px solid #8a8a8a5e;
    margin: 0px; }

.nav-text {
  font-size: 15px;
  align-self: center; }

.nav-text:hover {
  color: black; }

.secondary-nav {
  padding: 10px 20px;
  background: #393939; }
  .secondary-nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    color: azure;
    font-size: 16px;
    font-weight: 500; }
  .secondary-nav li {
    padding: 0 45px; }
  .secondary-nav svg {
    margin: 0px 5px; }

/* --------------  GENERAL RULES -------------------*/
.container {
  background-color: #242424;
  padding: 10px 15px; }

footer {
  background-color: black;
  padding: 8px 15px 10px; }
  footer p {
    font-size: 12px; }

.main-content {
  padding-top: 52px;
  min-height: calc(100vh - 31.8px);
  display: flex;
  justify-content: center; }

.page-header {
  font-size: 60px; }

.heading {
  height: 150px;
  padding-top: 40px;
  text-align: center; }
  .heading h1 {
    font-size: 60px; }

.content {
  max-width: 1000px;
  margin: auto;
  padding: 80px 0; }
  .content div {
    text-align: center; }

.flex-center {
  display: flex;
  justify-content: center; }

/* --------------  FORM CONTROLS -------------------*/
.control-group {
  margin-bottom: 20px; }
  .control-group label {
    margin-bottom: 8px;
    font-size: 14px; }

.controls {
  margin-top: 4px; }
  .controls input,
  .controls select {
    width: 322px;
    border-radius: 5px;
    background-color: #eae7e7;
    border: 3px solid rgba(121, 121, 121, 0.61);
    height: 41px;
    padding: 5px 8px; }
  .controls select {
    height: 41px;
    width: 322px; }

.control-label {
  color: azure; }

/* SCSS HEX */
/* SCSS HSL */

/*# sourceMappingURL=base.css.map */