.booking-form {
    position: fixed;
    top: calc((100vh - 300px) / 2);
    left: calc((100vw - 350px) / 2);
}

.teaching-form,
.performance-form,
.equipment-form {
    display: none;
}

.starting-form {
    width: fit-content;
}

.booking-submit,
.booking-steps {
    display: flex;
    justify-content: space-between;
}

.open {
    top: calc((80vh - 391px) / 2) !important;
}

#submit-id-submit {
    display: none;
}

.booking-steps-text {
    line-height: 2.3;
}
.heading {
    height: calc(100vh / 3 - 31px);
    text-align: center;
    h1{
        padding-top:calc(50vh - 350px);;
    }
}

.thank-you-container{
    height: calc((100vh/3)*2);
    text-align: center;
    width: 100%;
    p{
        max-width: 50%;
        margin: auto;
        margin-bottom: 90px;
    }

    a{
        color: #3ffff3;
    }
}
