.lead-container {
    display: flex;
    align-items: center;
    height: calc(90vh - 50px);
    justify-content: center;
}

.lead-content {
    width: 550px;
    text-align: center;

    h1 {
        font-size: 45px;
        padding-bottom: 20px;
    }

    p {
        padding: 0 40px 100px;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    height: 39px;

    .primary-button {
        width: 160px;
        padding: 8px 0;
        color: #3ffff3;
        margin-top: 2px;
    }

    .primary-button:hover {
        background-color: #1515159c;
        color: #3ffff3;
        border: 2px solid;
        margin-top: 0px;
    }
}

.biography {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: solid 6px;

    * {
        width: 1000px;
    }

    h1 {
        padding-top: 30px;
        padding-bottom: 20px;
        width: 100%;
    }

    p {
        font-weight: 200;
        padding: 0 20px;
        line-height: 1.7;
    }
}
