.heading {
    height: 150px;
    padding-top: 40px;
    text-align: center;
    h1 {
        padding-top: 50px;
    }
}

.secondary-nav {
    padding: 10px 80px;
    background: #393939;
    ul {
        display: flex;
        justify-content: center;
        margin: 0;
        list-style-type: none;
        color: azure;
        font-size: 16px;
        font-weight: 500;
    }
    li {
        padding: 0 45px;
    }
}

.genre-image {
    img {
        width: 100px;
        height: 150px;
    }
}
