{% extends "base.html" %}
{% load sass_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% sass_src 'css/profile.scss' %}">
{% endblock %}

{% block content %}
<!-- Div present to avoid flex from base.html template -->
<div>
    <div class="heading">
        <h1 class="heading-text">Profile</h1>
    </div>
    {% include second_menu %}
    <section>
        <div class="container">
            <div class="content flex-center bookings-container">
                <div class="overview">
                    <h2>Overview</h2>
                    {% include 'includes/equipment.html' %}
                    {% include 'includes/teaching.html' %}
                    {% include 'includes/performance.html' %}
                </div>
                <div class="calendar">        
                    <h2>Calendar</h2>
                    {% for key, calendar in calendar_details.items %}
                    <div class="calendar-card">
                        <h4>{{ calendar.date }}</h4>
                        <div class="calendar-card-inner">
                            <div class="calendar-info">
                                <p class="calendar-title">{{ calendar.title }}</p>
                                {% for key, extra in calendar.extras.items %}
                                    <p>{{ extra }}</p>
                                {% endfor %}
                            </div>
                            <div class="calendar-view-more">
                                <p>View more <span class="iconify-inline" data-icon="bi:arrow-right-circle"></span></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}