{% extends "base.html" %}
{% load sass_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% sass_src 'css/profile.scss' %}">
{% endblock %}

{% block content %}
<!-- Div present to avoid flex from base.html template -->
<div>
    <div class="heading">
        <h1 class="heading-text">Profile</h1>
    </div>
    <div class="secondary-nav">
        <ul>
            <Li><span class="iconify-inline" data-icon="bx:bx-book-alt"></span>Teaching</Li>
            <Li><span class="iconify-inline" data-icon="ic:outline-settings"></span>Account</Li>
            <Li><span class="iconify-inline" data-icon="clarity:license-line"></span>Equipment hire</Li>
            <Li><span class="iconify-inline" data-icon="fluent:wallet-20-regular"></span>Invoices</Li>
            <Li><span class="iconify-inline" data-icon="ph:music-notes"></span>Performance</Li>
        </ul>
    </div>
    <section>
        <div class="container">
            <div class="content">
                <div class="overview"></div>
                <div class="calendar"></div> 
            </div>
        </div>
    </section>
</div>

{% endblock %}