{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load sass_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% sass_src 'css/update_booking.scss' %}">
{% endblock %}

{% block content %}
<!-- Div present to avoid flex from base.html template -->
<div>
    <div class="heading">
        <h1 class="heading-text">Update Booking</h1>
    </div>
    {% include second_menu %}
    <section>
        <div class="container">
            <div class="content bookings-container">
                {% include booking_type %}
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}