<div class="overview">
    <h2>Overview</h2>
    {% for key, booking in booking_details.items %}
    <div class="booking-card">
        <h4>{{ booking.booking_name }}</h4>
        <div class="card-info-slot">
            <p class="slot-title">No. of Days</p>
            <p>{{ booking.numb_of_days }}</p>
        </div>
        <div class="card-info-slot">
            <p class="slot-title">Hiring dates</p>
            <p>{{ booking.hiring_dates }}</p>
        </div>
        <div class="card-info-slot">
            <p class="slot-title">Pick up time</p>
            <p>{{ booking.pick_up_time }}</p>
        </div>
        <div class="card-info-slot">
            <p class="slot-title">Return time</p>
            <p>{{ booking.return_time }}</p>
        </div>
        <div class="card-info-slot">
            <p class="slot-title">Total cost</p>
            <p>{{ booking.cost }}</p>
        </div>
        <div class="inline-ctas">
            <button class="btn secondary-btn">Write Review</button>
            <button class="btn primary-btn">Update</button>
        </div>
    </div>
    {% endfor %}
</div>
<div class="calendar">
    <h2>Calendar</h2>
    {% for key, booking in booking_details.items %}
    <div class="calendar-card">
        <h4>{{ booking.date }}</h4>
        <div class="calendar-card-inner">
            <div class="calendar-info">
                <p class="calendar-title">{{ booking.booking_name }}</p>
                <p>Pick up: {{ booking.pick_up_time }}</p>
                <p>Return: {{ booking.return_time }}</p>
            </div>
            <div class="calendar-view-more">
                <p>View more <span class="iconify-inline" data-icon="bi:arrow-right-circle"></span></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div> 