{% if booking_details.performance %}
    {% for key, booking in booking_details.performance.items %}
    <div class="booking-card">
        <h4>{{ booking.booking_name }}</h4>
        <div class="card-info-slot">
            <p class="slot-title">Performance dates and times</p>
            {% for key, dt in booking.dates_and_times.performance.slots.items %}
            <p>{{ dt }}</p>
            {% endfor %}
        </div>
        <div class="card-info-slot">
            <p class="slot-title">Rehearsal dates and times</p>
            {% if booking.dates_and_times.rehearsal.dropdown > 0 %}
                <a class='dropdown-trigger btn' href='#' data-target='dropdown{{ key }}'>View all <span class="iconify" data-icon="akar-icons:circle-chevron-down" data-width="14" data-height="14"></span></a>
                <ul id='dropdown{{ key }}' class='dropdown-content'>
                    {% for key, dt in booking.dates_and_times.rehearsal.slots.items %}
                    <li>{{ dt }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {% for key, dt in booking.dates_and_times.rehearsal.slots.items %}
                <p>{{ dt }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="card-info-slot">
            <p class="slot-title">Concert dress</p>
            <p>{{ booking.concert_dress }}</p>
        </div>
        <div class="card-info-slot">
            <p class="slot-title">Total cost</p>
            <p>{{ booking.cost }}</p>
        </div>
        <div class="inline-ctas">
            <button class="btn secondary-btn">Write Review</button>
            <button class="btn primary-btn">Update</button>
        </div>
    </div>
    {% endfor %}
{% endif %}