<div class="overview">
    <h2>Overview</h2>
    {% for lesson in lessons %}
    <div class="booking-card">
        <h4>{{ lesson.student_name }} - {{ lesson.instrument|lower|capfirst }}</h4>
        <div class="card-info-slot">
            <p class="slot-title">Regular lesson time</p>
            <p>{{ lesson.day }} {{ lesson.time }}</p>
        </div>
        <div class="card-info-slot">
            <p class="slot-title">Lesson duration</p>
            <p>{{ lesson.duration }}</p>
        </div>
        <div class="card-info-slot">
            <p class="slot-title">Lesson cost</p>
            <p>{{ lesson.lesson_cost }}</p>
        </div>
        <div class="card-info-slot">
            <p class="slot-title">Payment date</p>
            <p>{{ lesson.payment_date }}</p>
        </div>
        <div class="inline-ctas">
            <button class="btn secondary-btn">Write Review</button>
            <button class="btn primary-btn">Update</button>
        </div>
    </div>
    {% endfor %}
</div>
<div class="calendar">
    <h2>Calendar</h2>
</div> 