{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock %}

{% block inner_content %}

    <h1 class="text-center" >{% trans "Sign In" %}</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        
        {{ form|crispy }}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <div class="d-flex mt-5">
            <div class="create-account-link">
                <a href="{{ signup_url }}">Create Account</a>
            </div>
            <div class="sign-in-button">
                <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
            </div>
        </div>
    </form>

{% endblock %}
