{% load static %}
<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Jordan Murray {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header>
    <div id="main-nav">
      <div class="col-6">
        <h1>Jordan Murray</h1>
      </div>
    </div>
  </header>
  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <footer>
  </footer>
</body>

</html>