{% load sass_tags %}
<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <link rel="stylesheet" href="{% sass_src 'css/base.scss' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Jordan Murray {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header>
    <div class="nav-container">
    <nav id="main-nav">
      <div class="nav-logo">
        <a href="#">
          <h1>Jordan Murray</h1>
        </a>
      </div>
      <div id="nav-items">
        <div class="nav-item">
          <a href="#">
            <p class="nav-text">Home</p>
          </a>
        </div>
        <div class="nav-item">
          <a href="#">
            <p class="nav-text">Music</p>
          </a>
        </div>
        <div class="nav-item">
          <a href="#">
            <p class="nav-text">Book Jordan</p>
          </a>
        </div>
        <div class="nav-item">
          <a href="#">
            <p class="nav-text">Teaching</p>
          </a>
        </div>
        <div class="nav-item">
          <a href="#">
            <p class="nav-text">Equipment hire</p>
          </a>
        </div>
        <div class="nav-item">
          <p class="nav-text">Login/Register</p>
        </div>
      </div>
    </nav>
  </div>
  </header>
  <div class="background-overlay"></div>
  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <footer>
    <div class="footer-content">
      <p>Website developed by Hugh Padmore</p>
    </div>
  </footer>
</body>

</html>